<footer>
  <div class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
        <p>© The last bad trip you'll ever have</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">facebook</a></li>
    
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>