<div class="row">
  <div class="large-12 columns">
    <img id="cover-image" src="http://www.essentialibiza.com/ecms/wp-content/uploads/2013/07/Pukka-Up.jpg"><br><br>
  </div>
</div>


<h1>IS THERE A DJ YOU WANT TO SEE?</h1>
<div class="search">
  <%= search_form_for @q do |f| %>
  <%= f.text_field :name_cont, :placeholder => "Check to see if your favourite DJ is playing" %>
  <div class="actions">
  <button id="home_buttons" type="submit">Search</button></div>
  <% end %>
</div>




<div class="row" data-equalizer>
 <%= render @events %>
</div>



<br>

<% @events.each do |event| %>
<% end %>



<%= link_to 'New Event', new_event_path %>
