/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/

@font-face {
    font-family: "montreal";
    src: url(fonts/Montreal-Serial-ExtraBold-Regular.ttf);
}

body {
  width:100%;
  height:100%;
  background-image: url(image_path("background.png"));
  font-family: "montreal";
}

h1 {
  font-family: "montreal";
}

a {
  font-family: "montreal";
}

.home_logo {
 margin-top: 30px;


}



h6 {
  font-size: 75px;
  text-align: center;
  font-weight: bold;
  font-family: "montreal"
}

h3 {
  text-align: center;
  font-weight: bold;
  font-family: "montreal";
  font-size:30px;

}

.login input {
  width:300px;
  margin:0 auto;
}

.nav_image {
  height:30px;
  width:30px;
  margin-top: 8px;

}

.wrapper-img {
  margin-top: px
}

#home_buttons  {
  margin-top: 30px;
  color:white;
  background-color: black;
}

.image {
  margin-top: 50px;
}

html, body {
height: 100%;
}

* {
margin: 0;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

.footer, .push {
height: 4em;

}

footer {
  background-color: black;
  width:100%;
}

li {
  list-style: none;
}

.row {
  margin-top: 100px;
}

p {
  font-family: "montreal";
  font-size:20px;
}

#section-one {
  height: calc(100vh - 125px);
}

