<div class="row">
<div class="wrapper">
        <div class="large-6 columns">
        <h6><strong>InDaClub</strong></h6>
        <h3>See day by day updated listings of parties and DJs for the entire Summer</h3>
        <div class="text-center" id="home_buttons_div">
             <a href="/login" class="button" id="home_buttons">Login</a>
             <a href="/users/new" class="button" id="home_buttons">Sign Up</a>
           </div>
        </div>
        <div class="large-6 columns">
          <%= image_tag "marcus_logo_black.png", class:"home_logo" %>
        </div>
        </div>
        

 </div>

