<section id="section-one">
<div class="row">
<div class="wrapper-img">
        <div class="large-6 columns">
        <h6><strong>INDACLUB</strong></h6>
        <h3>SEE DAY BY DAY UPDATED LISTINGS OF PARTIES AND DJS FOR THE ENTIRE SUMMER</h3>
        <div class="text-center" id="home_buttons_div">
             <a href="/login" class="button" id="home_buttons">LOGIN</a>
             <a href="/users/new" class="button" id="home_buttons">SIGN UP</a>
           </div>
        </div>
        <div class="large-6 columns">
          <%= image_tag "marcus_logo_black.png", class:"home_logo" %>
        </div>
        </div>
 </div>
 </section>

